{{#partial "content"}}

    <p>Add a new Hero:</p>

    <a href="/hero-form">   <button type="submit" class="btn btn-default">Add Hero</button> </a>

    <p>Add a new Squad:</p>

    <a href="/squad-form">   <button type="submit" class="btn btn-default">Add Squad</button> </a>

{{/partial}}

{{> layout.hbs}}