{{#partial "content"}}

    <h1>Add a new Squad!</h1>

    <form action="/squad/new" method="post">
        <input type="text" placeholder="Squad's name" name="name" required>
        <input type="number" placeholder="Squad's size" name="size" required>
        <input type="text" placeholder="Squad's Cause" name="cause" required>
        <button type="submit" class="btn btn-default">Add new Squad </button>
    </form>
{{/partial}}

{{> layout.hbs}}