{{#partial "content"}}

    <h1>Success!</h1>

    <p>Your Hero post has been saved.</p>
    <br>
    <br>

    <a href="/hero-detail">View your Hero</a>
    <br>
    <br>
    <a href="/squad-detail">View your Squad</a>
{{/partial}}

{{> layout.hbs}}